body{
margin:0;
font-family:Arial;
background:#02061d;
color:white;
}

.teacher{
display:flex;
min-height:100vh;
}


.sidebar{

width:220px;
background:#08102e;
padding:20px;
display:flex;
flex-direction:column;
gap:15px;

}


.sidebar button{

padding:15px;
border:none;
background:#101b45;
color:white;
border-radius:10px;
cursor:pointer;

}


.logout{

background:red !important;

}


.content{

flex:1;
padding:30px;

}



.cards{

display:grid;
grid-template-columns:
repeat(4,1fr);

gap:20px;

}



.card{

padding:30px;
border-radius:20px;
font-size:25px;
font-weight:bold;

}



.blue{

background:#355CFF;

}

.green{

background:#00B140;

}

.purple{

background:#B000FF;

}

.orange{

background:#FF5A00;

}



.studentCard{

background:#08102e;

padding:20px;

margin:15px 0;

border-radius:15px;

}



.box{

background:#08102e;

padding:30px;

border-radius:20px;

margin-top:20px;

}


.box button{

padding:15px;

border:none;

background:#355CFF;

color:white;

border-radius:10px;

cursor:pointer;

}