.teacher{

display:flex;
min-height:100vh;
background:#02061d;
color:white;

}


.sidebar{

width:220px;
padding:20px;
background:#09122d;

display:flex;

flex-direction:column;

gap:15px;

}


.sidebar button{

padding:15px;

background:#1b2550;

border:none;

color:white;

cursor:pointer;

border-radius:10px;

}



.content{

flex:1;

padding:30px;

}



.card{

background:#101c4a;

padding:20px;

margin:10px;

border-radius:12px;

}



input{

padding:15px;

width:300px;

margin:10px;

}



button{

padding:15px;

cursor:pointer;

}